
/* Style Component */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root{
    /* color */
    --color-primary : #044984 ;
    --filter-primary : invert(18%) sepia(59%) saturate(3376%) hue-rotate(194deg) brightness(86%) contrast(97%);
    --color-primary95 : #010A12;
    --color-primary25 : #088DFF;
    --filter-primary25: invert(51%) sepia(96%) saturate(4291%) hue-rotate(194deg) brightness(103%) contrast(109%);
    --surface-primary : #E5F3FF;
    --outline-primary : #C6E1F7;
    --color-white : #ffffff ;
    --filter-white: invert(100%) sepia(0%) saturate(0%) hue-rotate(77deg) brightness(107%) contrast(101%);
    --color-gold : #E2A300;
    --color-text-normal : #344054;
    --color-text-light : #667085;
    --color-text-lighter : #98A2B3;
    --color-baselight : #D0D5DD;
    --color-textlink-normal : #0086C9;
    --surface-neutral : #F6F7F9;
    
    --color-outline-gray : #E4E7EC;
    --filter-outline-gray : invert(95%) sepia(21%) saturate(254%) hue-rotate(177deg) brightness(97%) contrast(91%);
    --color-error : #D92D20;
    


    /*font-family*/
	--font-ibm : "IBM Plex Sans Thai", sans-serif;

    /* font-weight */
    --font-regular : 400;
    --font-semibold : 600;
    --font-bold : 700;

    /* font-style */
    --font-normal : normal;
    
    /* font-size */
    --font-D4 : 32px;
    --font-H4 : 24px;
    --font-T3 : 20px;
    --font-T4 : 18px;
    --font-B4 : 16px;
    --font-B5 : 14px;
    --font-B6 : 12px;
    --font-B7 : 10px;

    --font-BUT5 : 14px;

    /* line-hight */
    --font-height-D4 : 40px;
    --font-height-H4 : 36px;
    --font-height-T3 : 30px;
    --font-height-T4 : 28px;
    --font-height-B4 : 24px;
    --font-height-B5 : 22px;
    --font-height-B6 : 18px;
    --font-height-B7 : 14px;

    --font-height-BUT5 : 20px;


    /* icons */
    --icon36 : 36px;
    --icon24 : 24px;
    --icon16 : 16px;
    --icon8 : 8px;

    /* padding */
    --padding-content: 32px 0;
}
/* end root */



/* icons */

img.icon{
    width: var(--icon24);
    height: var(--icon24);
    padding: 4px;
    display: inline-block;
}
img.icon.s8{
    width: var(--icon8);
    height: var(--icon8);
    padding: 0;
}

img.icon.s16{
    width: var(--icon16);
    height: var(--icon16);
    padding: 0;
}

img.icon.s16.p2{
    padding: 2px;
}

img.icon.s36{
    width: var(--icon36);
    height: var(--icon36);
    padding: 8px;
}

a:hover img.icon{
    filter: var(--filter-primary25)
}

/* end icons */

/* font wight */
.regular{
    font-weight: var(--font-regular);
}
.semibold{
    font-weight: var(--font-semibold);
}

/* font size */
.d4{
    font-size: var(--font-D4);
    line-height: var(--font-height-D4);
}
.t4{
    font-size: var(--font-T4);
    line-height: var(--font-height-T4);
}
.b4{
    font-size: var(--font-B4);
    line-height: var(--font-height-B4);
}
.b5{
    font-size: var(--font-B5);
    line-height: var(--font-height-B5);
}

.b6{
    font-size: var(--font-B6);
    line-height: var(--font-height-B6);
}

/* end font size */

/* font-color */
.font-white{
    color: var(--color-white);
}
.text-color-normal {
    color: var(--color-text-normal);
}
.text-color-light {
    color: var(--color-text-light);
}
.text-color-error{
    color: var(--color-error);
}
.text-color-lighter{
    color: var(--color-text-lighter);
}
.text-color-baselight{
    color: var(--color-baselight)
}
/* end font-color */

/* font-style */
.font-line-through{
    text-decoration: line-through;
}

/* padding */
.p-content{
    padding: var(--padding-content);
}

/* end padding */

html body{
    font-family: var(--font-ibm);
    font-weight: var(--font-regular);
    font-style: var(--font-normal);
    color: var(--color-text-normal)
}

p{
    margin-bottom: 0;
}
.mb-4{
    margin-bottom: 4px !important;
}
.mr-4{
    margin-right: 4px !important;
}

.mr-8{
    margin-right: 8px !important;
}
.ml-8{
    margin-left: 8px !important;
}

.mb-24{
    margin-bottom: 24px;
}

.mb-32{
    margin-bottom: 32px;
}

/* Color */
.bg-primary {
    background-color: var(--color-primary) !important;
}

/* Head */
h4{
    font-size: var(--font-H4);
    font-weight: var(--font-bold);
    font-style: var(--font-normal);
    line-height: var(--font-height-H4);
    margin-bottom: 0;

}

/* align-content */
.align-content-between{
    align-content: space-between;
}

/* justify-content */
.justify-content-between {
    justify-content:space-between;
}

/* navbar */
.navbar {
    padding: 0;
    display: block;
    -webkit-box-shadow: 4px 0px 16px -6px rgba(0,0,0,0.16);
    -moz-box-shadow: 4px 0px 16px -6px rgba(0,0,0,0.16);
    box-shadow: 4px 0px 16px -6px rgba(0,0,0,0.16);
}

.navbar .nav-announce{
    padding: 4px 0;
    text-align: center;
    font-size: var(--font-B5);
    line-height: var(--font-height-B5);
}

.navbar .container{
    padding-right: 0px;
    padding-left: 0px;
}

.navbar .navbar-brand{
    padding-top: 0;
    padding-bottom: 0;
}

.navbar .container .row{
    flex: auto;
    align-items: center;
}

.navbar .profile{
    margin-right: 24px;
}

.navbar .profile a{
    text-decoration: none;
    color: var(--color-text-normal);
    cursor: pointer;

}

.navbar .profile a:hover{
    color: var(--color-primary25);
}

.navbar .profile .profile-name {
    padding-left: 4px;
}

.navbar .profile .profile-name .name{
    font-size: var(--font-B6);
    line-height: var(--font-height-B6);
}

.navbar .profile .profile-name .block-level{
    font-size: var(--font-B7);
    line-height: var(--font-height-B7);
    color:var(--color-white);
    
}
.navbar .profile .profile-name .block-level .vip{
    background-color: var(--color-primary95);
    padding: 0 4px;
}
.navbar .profile .profile-name .block-level .level{
    background-color: var(--color-gold);
    padding: 0 8px;
}

.navbar-expand-md .navbar-nav{
    border-top: 1px solid var(--color-outline-gray);
}

.navbar-expand-md .navbar-nav .nav-link{
    padding: .5rem 16px;
    color: var(--color-text-normal);
}

.navbar-expand-md .navbar-nav .nav-link:hover{
    color: var(--color-primary25);
}

.dropdown-toggle::after{
    display: none;
}


.navbar-toggler{
    padding: 0;
}

.icon-burger {
    cursor: pointer;
    width: 24px;
}

.icon-burger span{
    display: block;
    width: 16px;
    height: 2px;
    margin-bottom: 4px;
    border-radius: 10px;
    background-color: var(--color-primary);
    position: relative;
    top: 0;
}

.open .icon-burger span:nth-child(2) {
    opacity: 0;
}

.open .icon-burger span:nth-child(1) {
    transform: rotate(45deg);
    top: 12px;
    background-color: var(--color-text-normal);
}

.open .icon-burger span:nth-child(3) {
    transform: rotate(-45deg);
    top: 0px;
    background-color: var(--color-text-normal);
}

.dropdown-menu{
    border:none;
    padding: 0;
    border-radius: 0;
    -webkit-box-shadow: 4px 0px 16px -6px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 4px 0px 16px -6px rgba(0, 0, 0, 0.16);
    box-shadow: 4px 0px 16px -6px rgba(0, 0, 0, 0.16);
}

.dropdown-item{
    padding: 8px 16px;
}

.dropdown-item:hover, .dropdown-item:active{
    background: var(--color-primary25);
    color: var(--color-white);
}

/* end navbar */

/* button */
.btn{
    font-weight: var(--font-semibold);
    font-style: var(--font-normal);
    border-radius: 8px;
    padding: 6px 16px;

}

.btn .icon{
    margin-left: 4px;
}

.btn.btn-m{
    font-size: var(--font-BUT5);
    line-height: var(--font-height-BUT5);
}

.btn.btn-m{
    font-size: var(--font-BUT5);
    line-height: var(--font-height-BUT5);
}

.btn.btn-s{
    font-size: var(--font-B6);
    line-height: var(--font-height-B6);
}

.btn-outline-primary{
    border-color: var(--color-primary);
    color: var(--color-primary);
}

.btn-outline-primary:hover{
    border-color: var(--color-primary25);
    color: var(--color-primary25);
    background-color: var(--color-white);
}

.btn-outline-primary .icon{
    filter: var(--filter-primary)
}

.btn-outline-primary:hover .icon{
    filter: var(--filter-primary25)
}

.btn-white{
    background-color: var(--color-white);
}

.btn-primary{
    color: var(--color-white);
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

.btn-primary:hover{
    color: var(--color-white);
    background-color: var(--color-primary25);
    border-color: var(--color-primary25);
}

/* end button */

/* container content */
.container.content{
    margin-top: 150px;
}

.content .title{
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid var(--color-outline-gray);
}


/* card */
.content-scroll{
    overflow-x: auto;
    overflow-y: hidden;
    white-space:nowrap;
    width: 100%;
}
.row-card{
    flex-wrap: nowrap;
}

.card{
    border-radius: 24px;
    max-width: 278px;
    border: 1px solid var(--color-white);
}
.card.no-border{
    border: 1px solid var(--color-white);

}
.card-content{
    padding: 12px 16px;
}

.card .card-price{
    min-height: 46px;
}

.card:hover{
    cursor: pointer;
    border: 1px solid var(--color-primary25);
    -webkit-box-shadow: 4px 0px 16px -6px rgba(0,0,0,0.16);
    -moz-box-shadow: 4px 0px 16px -6px rgba(0,0,0,0.16);
    box-shadow: 4px 0px 16px -6px rgba(0,0,0,0.16);
}

.row-card .card:not(:last-child){
 margin-right: 16px;
}
/* end card */

/* form */
.form-control{
    border: 1px solid var(--color-outline-gray);
    border-radius: 8px !important;
}

input.form-control::placeholder {
    color: var(--color-text-lighter)
}

input.form-control:focus{
    border: 1px solid var(--color-primary25);
    box-shadow: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.input-group:focus span.input-icon img.icon {
 filter: var(--filter-primary25);
}
  
.input-group .input-icon{
    position: absolute;
    margin-left: 16px;
    height: 40px;
    display: flex;
    align-items: center;
    z-index: 4;
}

.input-group .input-icon .icon{
    filter: var(--filter-outline-gray);
}
.input-group input{
    padding-left: 40px;
    height: 40px;
}


/* footer */
footer{
    padding: 16px 0;
    font-size: var(--font-B4);
    line-height: var(--font-height-B4);
    font-weight: var(--font-regular);
    font-style: var(--font-normal);
}

.list-inline{
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

}
.list-inline li{
 margin-right: 4px;
}

footer .btn-white {
    padding: 5px 8px;
}
footer .btn-white:hover{
    background-color: var(--color-baselight);
}

/* banner */
.owl-carousel .owl-item .banner-item{
    width: 100%;
}
.owl-carousel .owl-item .banner-item img.banner-img{
    width: 60%;
    max-width: 670px;
}

.owl-carousel .owl-item .banner-item .banner-content{
    padding: 24px;
}

.owl-carousel .owl-item .banner-item .banner-content .content-btm{
    min-height: 168px;

}

.owl-theme .owl-nav.disabled+.owl-dots{
    margin-top: 16px;
}

.owl-theme .owl-dots .owl-dot span {
    width: 40px;
    height: 4px;
    margin: 0 8px;
    background: var(--surface-primary);
    border-radius: 0;
}

.owl-theme .owl-dots .owl-dot.active span{
    background: var(--color-primary);
}

.owl-theme .owl-dots .owl-dot:hover span {
    background: var(--color-primary25);
}


footer .btn-white img.icon{
    width: 14px;
    height: 14px;
    filter: var(--filter-primary);
    padding: 0;
    margin-left: 0;
} 

footer .icon{
    filter: var(--filter-white);
}

footer a{
    color: var(--color-white);
    text-decoration: underline;
}
footer a:hover{
    color: var(--color-baselight)
}




@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1160px;
        
    }
}


@media (max-width: 800px) {

    /* navbar */
    .container .navbar-toggler {
        display: inline-block;
        transition: all .3s ease-in-out;
        
      }
      .container .navbar-toggler.open{
        position: absolute;
        z-index: 11;
        left: 190%;
        top: -16px;
      }
      
      .navbar-collapse {
        width: 100%;
        position: fixed;
        background: var(--color-white);
        z-index: 9;
        display: block;
        visibility: hidden;
        opacity: 0;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.1s;
      }
      .navbar-collapse ul.navbar-nav {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        top: 54px;
        border: none;
      }
      .navbar-collapse ul.navbar-nav li {
        opacity: 0;
        transition: opacity 0.1s cubic-bezier(0.58, 0.3, 0.005, 1);
        padding: 0;
        border-bottom: 1px solid var(--color-outline-gray);
      }

      .navbar-collapse.show {
        min-height: 100vh;
        visibility: visible;
        opacity: 1;
        z-index: 9;
      }
      .navbar-collapse.show ul li {
        opacity: 1;
        
      }
      .navbar-collapse.show ul li:nth-child(1) {
        transition-delay: 0.06s;
      }
      .navbar-collapse.show ul li:nth-child(2) {
        transition-delay: 0.12s;
      }
      .navbar-collapse.show ul li:nth-child(3) {
        transition-delay: 0.18s;
      }
      .navbar-collapse.show ul li:nth-child(4) {
        transition-delay: 0.24s;
      }
      .navbar-collapse.show ul li:nth-child(5) {
        transition-delay: 0.3s;
      }
      .navbar-collapse.show ul li:nth-child(6) {
        transition-delay: 0.36s;
      }
      
      .navbar-toggler {
        padding: 0;
      }
      .navbar-toggler #nav-icon {
        width: 30px;
        height: 22px;
        position: relative;
        margin: 0 auto;
        transform: rotate(0deg);
        cursor: pointer;
      }
      .navbar-toggler #nav-icon span {
        display: block;
        position: absolute;
        height: 5px;
        width: 50%;
        background: blue;
        opacity: 1;
        transform: rotate(0deg);
        transition: 0.25s ease-in-out;
      }
      .navbar-toggler[aria-expanded=false] #nav-icon span:nth-child(even) {
        left: 50%;
      }
      .navbar-toggler[aria-expanded=false] #nav-icon span:nth-child(odd) {
        left: 0px;
      }
      .navbar-toggler[aria-expanded=false] #nav-icon span:nth-child(1),
      .navbar-toggler[aria-expanded=false] #nav-icon span:nth-child(2) {
        top: 0px;
      }
      .navbar-toggler[aria-expanded=false] #nav-icon span:nth-child(3),
      .navbar-toggler[aria-expanded=false] #nav-icon span:nth-child(4) {
        top: 9px;
      }
      .navbar-toggler[aria-expanded=false] #nav-icon span:nth-child(5),
      .navbar-toggler[aria-expanded=false] #nav-icon span:nth-child(6) {
        top: 18px;
      }
      .navbar-toggler[aria-expanded=true] #nav-icon span:nth-child(1),
      .navbar-toggler[aria-expanded=true] #nav-icon span:nth-child(6) {
        transform: rotate(45deg);
      }
      .navbar-toggler[aria-expanded=true] #nav-icon span:nth-child(2),
      .navbar-toggler[aria-expanded=true] #nav-icon span:nth-child(5) {
        transform: rotate(-45deg);
      }
      .navbar-toggler[aria-expanded=true] #nav-icon span:nth-child(1) {
        left: 5px;
        top: 7px;
      }
      .navbar-toggler[aria-expanded=true] #nav-icon span:nth-child(2) {
        left: calc(50% - 5px);
        top: 7px;
      }
      .navbar-toggler[aria-expanded=true] #nav-icon span:nth-child(3) {
        left: -50%;
        opacity: 0;
      }
      .navbar-toggler[aria-expanded=true] #nav-icon span:nth-child(4) {
        left: 100%;
        opacity: 0;
      }
      .navbar-toggler[aria-expanded=true] #nav-icon span:nth-child(5) {
        left: 5px;
        top: 12px;
      }
      .navbar-toggler[aria-expanded=true] #nav-icon span:nth-child(6) {
        left: calc(50% - 5px);
        top: 12px;
      }

      .nav-item{
          width: 100%;
      }

      .dropdown-menu {
        box-shadow: none;
        border-top: 1px solid var(--color-outline-gray);
        background: var(--surface-neutral);
        padding: 0 16px;
    }

    .navbar .navbar-brand img{
        width: 114px;
    }

    .navbar-collapse ul.navbar-nav li.nav-title{
        padding: 8px 16px;
    }

    .nav-img-profile{
        width: 16px;
        height: 16px;
    }

    .navbar .profile{
        margin-right: 8px;
    }

    .navbar-expand-md .navbar-nav .nav-link .icon{
        float: right;
    }

    /*end navbar */

    .row{
        margin-right: 0px;
        margin-left: 0px;
    }

    .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
        padding-left: 0;
        padding-right: 0;
    }

    .content-m-16,  .container.content-m-16{
        padding-left: 16px;
        padding-right: 16px;
    }

    .container.content {
        margin-top: 90px;
    }

    /** Banner mobile **/
    .owl-carousel .owl-item .banner-item img.banner-img{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
    .owl-carousel .owl-item .banner-item .banner-content{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100%;
        padding: 16px 8px;
        background: rgb(0,0,0);
        background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
        align-content: flex-end !important;
        color: var(--color-white);
        
    }
    .owl-carousel .owl-item .banner-item .banner-content .content-btm{
        min-height: auto !important;
        color: var(--color-white);
    }

    .owl-carousel .owl-item .banner-item .banner-content .d4 {
        font-size: var(--font-T3);
        line-height: var(--font-height-T3);
    }

    .owl-carousel .owl-item .banner-item .banner-content .content-btm .text-color-light{
        color: var(--color-white);
    }

    .owl-carousel .owl-item .banner-item .banner-content .content-btm .btn.btn-s{
        background: none;
        border: none;
        text-decoration: underline;
        font-size: var(--font-B5);
        line-height: var(--font-height-B5);
        font-weight: var(--font-regular);
        width: 100%;
        text-align: right;

    }
    .owl-theme .owl-nav.disabled+.owl-dots {
        margin-top: 8px;
    }

    .d-flex.d-none{
        display: none !important;
    }
    /** end Banner mobile **/

    /** card mobile **/
    
    .content-m-16 .row-card{
        flex-wrap: nowrap;
    }

    .card-content .t4{
        font-size: var(--font-B5);
        line-height: var(--font-height-B5);
    }

    .card-content .b4{
        font-size: var(--font-B5);
        line-height: var(--font-height-B5);
    }

    .card-content .b5{
        font-size: var(--font-B6);
        line-height: var(--font-height-B6);
    }
    .card-content .card-price .b4{
        font-size: var(--font-B6);
        line-height: var(--font-height-B6);
    }

    .card-content .card-price .ml-8 {
        margin-left: 2px !important;
    }

    .row-card .card:not(:last-child) {
        margin-right: 12px;
    }
    /** end card mobile **/

    footer p{
        text-align: center;
        font-size: var(--font-B6);
        line-height: var(--font-height-B6);
        
    }

    footer .list-inline {
        justify-content: center;
    }

    footer .col-md-9{
        margin-bottom: 24px;
    }

    footer .t4{
        font-size: var(--font-B5);
        line-height: var(--font-height-B5);
    }

    .d-md-none{
        display: flex !important;
    }

}